<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>Pinterest | Feed</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>
    <div class="w-full px-10 py-3 flex justify-between">
        <div class="flex items-center gap-5">
            <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/pinterest-round-color-icon.png"
            alt="Pinterest Icon" class="w-10 h-10">
        <h3 class="text-xl font-semibold">Pinterest</h3>
        </div>
        <div class="flex gap-10 items-center">
            <a class="px-5 py-2 bg-red-600 rounded-full text-white" href="/profile">Profile</a>
            <a class="px-5 py-2 bg-red-600 rounded-full text-white" href="/logout">Logout</a>
        </div>
    </div>

    <div class="grid">
        <% posts.forEach(function(post) { %>
            <div class="grid-item">
                <img src="/images/uploads/<%= post.image %>" alt="<%= post.imageText %>">
                <div class="px-3 py-2">
                    <h1 class="text-base font-semibold">
                        <%= post.imageText %>
                    </h1>
                    <p class="text-gray-800 text-sm mt-1">
                        <%= post.description %>
                    </p>
                </div>
            </div>
            <% }); %>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script>
        $(".grid").imagesLoaded(function () {
            $(".grid").masonry({
                itemSelector: ".grid-item"
            });
        });
    </script>
</body>

</html>